<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyf.launchmodektdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OtherInstanceActivity" />
        <activity
            android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.lyf.test.singleinstancedemo">
            <intent-filter>
                <action android:name="com.lyf.test.singleinstancektdemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OtherTask2Activity" />
        <activity android:name=".OtherTask1Activity" />
        <activity android:name=".OtherTaskActivity" />
        <activity
            android:name=".SingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.lyf.test.singleTask" />
        <activity android:name=".OtherTopActivity" />
        <activity
            android:name=".SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".StandardActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>